.resource{
    padding-top: 10%;
}

.resource h1{
    font-size: 350%;
    margin-bottom: 10%;
}

.resource h4{
    text-align: left;
    inline-size: 300px;
    overflow-wrap: break-word;
    font-size: 150%;
    margin-left: 30%;
}

.resource p{
    text-align: left;
    inline-size: 300px;
    overflow-wrap: break-word;
    font-size: 100%;
    margin-left: 30%;
    color: grey;
}

.resource .btn{
    margin-top: 10%;
}
.resource .btn-inside{
    margin-top: 5%;
}

