.work{
    background-color: #011132   ;
    color:white;
    padding-left: 5%;
    
}

.work h1{
    margin-top: 10%;
    font-size: 300%;
    padding-bottom: 5%;
}

.work .btn{
    margin-top: 15%;
}

.work h4{
    font-size: 200%;
    /* text-align: right; */
}

.work p{
    font-size: 100%;
     text-align: left;
       inline-size: 400px;
    overflow-wrap: break-word;
    padding-left: 22%;
}

